.ddmui-popup.ddmui-popup-in {
	/*-webkit-transform: translate3d(-50%, -50%, 0) scale(1);*/
	/*transform: translate3d(-50%, -50%, 0) scale(1);*/
	display: none;
}

.ddmui-popup {
	position: fixed;
	z-index: 1000000;
	top: 45%;
	left: 50%;
	overflow: hidden;
	width: 320px;
	/*height: 430px;*/
	-webkit-transform: translate3d(-50%, -50%, 0) scale(1);
	transform: translate3d(-50%, -50%, 0) scale(1);
	color: #000;
	border-radius: 0.3rem;
}

.ddmui-popup-inner {
	position: relative;
	padding: 0 0.32rem;
	border-radius: .3rem .3rem 0 0;
	background: rgba(255, 255, 255, .95);
	overflow: hidden;
}

.ddmui-popup-inner:after {
	position: absolute;
	z-index: 15;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	background-color: rgba(0, 0, 0, .2)
}

.ddmui-popup-title {
	font-size: 0.36rem;
	font-weight: 500;
	text-align: center;
	color: #007aff;
}

.ddmui-popup-text p {
	width: 80%;
}

.ddmui-popup-text {
	font-family: inherit;
	font-size: 0.28rem;
	text-align: left;
	width: 100%;
	line-height: 1.5;
	max-height: 6rem;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.ddmui-popup-text .platform-time {
	font-size: 0.26rem;
	color: #999;
}

.ddmui-popup-text label {
	display: block;
	border-top: 1px solid #ccc;
	padding: 0.2rem 0;
	position: relative;
}

.ddmui-popup-buttons {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 1rem;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.ddmui-popup-button {
	font-size: 0.36rem;
	line-height: 1rem;
	position: relative;
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	width: 100%;
	height: 1rem;
	padding: 0 5px;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #007aff;
	background: rgba(255, 255, 255, .95);
	-webkit-box-flex: 1;
}

.ddmui-popup-backdrop {
	display: none;
	position: fixed;
	z-index: 998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
	background: rgba(0, 0, 0, .4)
}

.ddmui-popup-button:after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0px;
	height: 100%;
	content: '';
	background-color: rgba(0, 0, 0, .2);
}

.ddmui-popup-inner input {
	-webkit-appearance: none;
	outline: 0 !important;
	width: 0.5rem;
	border: 0;
	display: inline-block;
	position: absolute;
	line-height: 1;
	right: 0.4rem;
	height: 0.6rem;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: transparent;
}

.ddmui-popup-inner input[type="radio"]:checked:before {
	color: #ea2329;
}

.ddmui-popup-inner input[type="radio"]:checked:before {
	content: "\e441";
}

.ddmui-popup-inner input[type="radio"]:before {
	content: "\e411";
}

.ddmui-popup-inner input[type="radio"]:before,
.ddmui-popup-inner input[type="checkbox"]:before {
	font-family: Muiicons;
	font-weight: normal;
	border-radius: 0;
	font-size: 0.5rem;
	line-height: 1;
	height: 1.8rem;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	color: #aaaaaa;
	background: none;
}

@media screen and (max-width: 320px) {
	.ddmui-popup {
		width: 280px;
	}
}

@media screen and (max-width: 413px) and (min-width: 321px) {
	.ddmui-popup {
		width: 320px;
	}
}

@media screen and (min-width: 414px) {
	.ddmui-popup {
		width: 340px;
	}
}