#site-nav-area {
    float:left;
    font-size:12px
}
#site-nav-area * {
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box
}
#site-nav-area .dorpdown {
    position:relative;
    margin-right:10px
}
#site-nav-area .dorpdown-layer {
    /*display: none;*/
    position: absolute;
    line-height: 24px;
    top: 30px;
    left: 60px;
    background: #fff;
    border: 1px solid #ec5151;
    z-index: 9999;
}

#site-nav-area .dorpdown-layer .ui-areamini-content-wrap {
    padding: 20px 15px;
    width: 385px;
    height: auto !important;
    max-height: 210px;
    line-height: 20px;
    *line-height: 22px;
    overflow: hidden;
    background: #fff;
}

#site-nav-area .dorpdown-layer .ui-areamini-content-wrap {
    line-height: 20px;
}

#site-nav-area .hover .dorpdown-layer {
    -webkit-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
    display: block;
}

#city-choice .dd-spacer {
    left:0;
    width:54px
}
#site-nav-area .dd-spacer {
    position:absolute;
    top:-6px;
    height:10px;
    background:#fff;
    overflow:hidden
}
#site-nav-area .dorpdown-layer .ui-areamini-content-wrap {
    padding:20px 15px;
    width:385px;
    height:auto!important;
    max-height:210px;
    overflow:hidden;
    background:#fff;
    line-height:20px
}
#site-nav-area .ui-areamini-content-wrap dl {
    overflow:hidden
}
#site-nav-area .ui-areamini-content-wrap dt {
    color:#333;
    font-weight:700;
    float:left;
    margin-right:10px
}
#site-nav-area .ui-areamini-content-wrap dd {
    float:left
}
#site-nav-area .ui-areamini-content-wrap dd a {
    display:block;
    padding:0 5px 0 4px
}
#site-nav-area .ui-areamini-content-wrap .search-first-letter {
    margin-top:15px;
    overflow:hidden
}
#site-nav-area .ui-areamini-content-wrap .search-first-letter a {
    font-size:14px;
    color:#ec5151;
    float:left;
    line-height:16px;
    padding:0 3px;
    margin-right:1px
}
#site-nav-area .ui-areamini-content-wrap .search-first-letter {
    margin-top:15px;
    overflow:hidden
}
#site-nav-area .ui-areamini-content-wrap .search-first-letter a {
    font-size:14px;
    color:#ec5151;
    float:left;
    line-height:16px;
    padding:0 3px;
    margin-right:1px
}
#site-nav-area .scrollBody {
    overflow:hidden;
    position:relative;
    z-index:10
}
#site-nav-area .scrollBody .all-list {
    width:360px;
    height:150px;
    overflow:hidden;
    margin-top:15px;
    float:left
}
#site-nav-area .scrollBody .all-list ul {
    overflow:hidden;
    height:auto;
    position:relative;
    z-index:9
}
#site-nav-area .scrollBody .all-list li {
    float:left;
    width:360px;
    padding:0 0 8px;
    line-height:24px
}
#site-nav-area .scrollBody .all-list li em {
    width:18px;
    height:18px;
    border:1px solid #6d6d6d;
    border-radius:10px;
    display:inline-block;
    line-height:18px;
    line-height:18px\9;
    text-align:center;
    margin:3px 10px 0 0;
    float:left
}
#site-nav-area .scrollBody .all-list li .itme-city {
    float:left;
    width:330px
}
#site-nav-area .scrollBody .all-list li a.is_district,.scrollBody .all-list li a.is_district:hover {
    background:0 0;
    color:#999
}
#site-nav-area .scrollBody .all-list li a {
    padding:0 3px;
    display:inline-block;
    color:#333;
    line-height:20px
}
#site-nav-area .scrollBody .scrollBar {
    float:right;
    width:10px;
    height:150px;
    background:url(../images/shoppdy/change_city.gif) -10px 0 repeat-y;
    position:relative
}
#site-nav-area .scrollBody .scrollBar p {
    width:30px;
    height:36px;
    cursor:pointer;
    background:url(../images/shoppdy/change_city.gif) 10px 0 no-repeat;
    position:absolute;
    top:1px;
    left:-10px
}
#site-nav-area .scrollBody .all-list {
    width:360px;
    height:150px;
    overflow:hidden;
    margin-top:15px;
    float:left
}
#site-nav-area .scrollBody .all-list ul {
    overflow:hidden;
    height:auto;
    position:relative;
    z-index:9
}
#site-nav-area .scrollBody .all-list li {
    float:left;
    width:360px;
    padding:0 0 8px;
    line-height:24px
}
#site-nav-area .scrollBody .all-list li em {
    width:18px;
    height:18px;
    border:1px solid #6d6d6d;
    border-radius:10px;
    display:inline-block;
    line-height:18px;
    line-height:18px\9;
    text-align:center;
    margin:3px 10px 0 0;
    float:left
}
#site-nav-area .scrollBody .all-list li .itme-city {
    float:left;
    width:330px
}
#site-nav-area .scrollBody .all-list li a.is_district,.scrollBody .all-list li a.is_district:hover {
    background:0 0;
    color:#999
}
#site-nav-area .scrollBody .all-list li a {
    padding:0 3px;
    display:inline-block;
    color:#333;
    line-height:20px
}
#site-nav-area .scrollBody .all-list li .itme-city {
    float:left;
    width:330px
}
#site-nav-area .scrollBody .scrollBar {
    float:right;
    width:10px;
    height:150px;
    background:url(../images/shoppdy/change_city.gif) -10px 0 repeat-y;
    position:relative
}
#site-nav-area .scrollBody .scrollBar p {
    width:30px;
    height:36px;
    cursor:pointer;
    background:url(../images/shoppdy/change_city.gif) 10px 0 no-repeat;
    position:absolute;
    top:1px;
    left:-10px
}