@charset "utf-8";
html {
	background: #FFFFFF;
}

body {
	line-height: 1.5;
	min-width: 1200px;
	width: auto;
	background-color: #f5f5f5;
	color: #666;
	font-size: 12px;
	-webkit-text-size-adjust: none;
	font-family: "Microsoft YaHei", SimSun, '\5b8b\4f53', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: 100;
}

a {
	color: #0563C3;
	text-decoration: none
}

a:hover {
	text-decoration: none
}

address,
cite,
dfn,
em,
var,
i {
	font-style: normal
}

abbr,
acronym {
	font-variant: normal;
}

small {
	font-size: 12px
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

legend {
	color: #000
}

fieldset,
img,
iframe {
	border: 0 none;
}

button,
input,
select,
textarea {
	font-size: 100%
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

input,
select,
button {
	vertical-align: middle;
}

input,
select,
button,
textarea {
	font-size: 100%;
	font-family: inherit;
}

input[type=number] {
	-moz-appearance: textfield;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #CCCCCC;
	margin: 1em 0;
	padding: 0;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
}

button::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=file]>input[type=button]::-moz-focus-inner {
	border: 0 none;
	padding: 0;
}

.mod-bottom,
.form-row,
.mod,
.signupin-content .form-row-normal,
.signin,
.signup,
.sign-title,
.signup-success .descrip,
.related-search,
.filter-container,
.gallery-sortbar,
.goods-item .goods-name,
.brand-desc h2,
.detail-content,
.product-tags,
.product-attributes,
.product-parameters,
.product-score .btn-discuss,
.post-comment .scores-list {
	margin-bottom: 10px;
}

@font-face {
	font-family: "iconfonts";
	src: url("./fonts/iconfonts.eot?v=1.5.2");
	src: url("./fonts/iconfonts.eot?v=1.5.2#iefix") format("embedded-opentype"), url("./fonts/iconfonts.woff?v=1.5.2") format("woff"), url("./fonts/iconfonts.ttf?v=1.5.2") format("truetype"), url("./fonts/iconfonts.svg?v=1.5.2#svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

.icon:before,
[class^=icon-]:before {
	display: inline-block;
	vertical-align: 0;
	line-height: 1;
	font-family: "iconfonts";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-transform: none;
	text-rendering: auto;
	speak: none;
}

.icon-add:before {
	content: "\2801"
}

.icon-alarm:before {
	content: "\2802"
}

.icon-alert:before {
	content: "\2803"
}

.icon-arrow-back:before {
	content: "\2804"
}

.icon-arrow-down:before {
	content: "\2807"
}

.icon-arrow-down-a:before {
	content: "\2805"
}

.icon-arrow-down-b:before {
	content: "\2806"
}

.icon-arrow-end-a:before {
	content: "\2808"
}

.icon-arrow-forward:before {
	content: "\2809"
}

.icon-arrow-left:before {
	content: "\280c"
}

.icon-arrow-left-a:before {
	content: "\280a"
}

.icon-arrow-left-b:before {
	content: "\280b"
}

.icon-arrow-right:before {
	content: "\280f"
}

.icon-arrow-right-a:before {
	content: "\280d"
}

.icon-arrow-right-b:before {
	content: "\280e"
}

.icon-arrow-start-a:before {
	content: "\2810"
}

.icon-arrow-up:before {
	content: "\2813"
}

.icon-arrow-up-a:before {
	content: "\2811"
}

.icon-arrow-up-b:before {
	content: "\2812"
}

.icon-bag:before {
	content: "\2815"
}

.icon-bag-flash:before {
	content: "\2814"
}

.icon-bell:before {
	content: "\2817"
}

.icon-bell-a:before {
	content: "\2816"
}

.icon-bolt:before {
	content: "\2818"
}

.icon-bookmark:before {
	content: "\2819"
}

.icon-calculator:before {
	content: "\281a"
}

.icon-calendar:before {
	content: "\281b"
}

.icon-card:before {
	content: "\281c"
}

.icon-cart:before {
	content: "\281e"
}

.icon-cart-a:before {
	content: "\281d"
}

.icon-cash:before {
	content: "\281f"
}

.icon-chatbox:before {
	content: "\2820"
}

.icon-chatboxes:before {
	content: "\2822"
}

.icon-chatboxes-a:before {
	content: "\2821"
}

.icon-chatbubble:before {
	content: "\2825"
}

.icon-chatbubble-a:before {
	content: "\2823"
}

.icon-chatbubble-b:before {
	content: "\2824"
}

.icon-chatbubbles:before {
	content: "\2826"
}

.icon-checkmark:before {
	content: "\282c"
}

.icon-checkmark-a:before {
	content: "\2827"
}

.icon-checkmark-b:before {
	content: "\2828"
}

.icon-checkmark-c:before {
	content: "\2829"
}

.icon-checkmark-d:before {
	content: "\282a"
}

.icon-checkmark-e:before {
	content: "\282b"
}

.icon-chevron-down:before {
	content: "\282d"
}

.icon-chevron-left:before {
	content: "\282e"
}

.icon-chevron-right:before {
	content: "\282f"
}

.icon-chevron-up:before {
	content: "\2830"
}

.icon-circle:before {
	content: "\2832"
}

.icon-circle-filled:before {
	content: "\2831"
}

.icon-clock:before {
	content: "\2833"
}

.icon-close:before {
	content: "\2838"
}

.icon-close-a:before {
	content: "\2834"
}

.icon-close-b:before {
	content: "\2835"
}

.icon-close-c:before {
	content: "\2836"
}

.icon-close-d:before {
	content: "\2837"
}

.icon-cloud:before {
	content: "\283a"
}

.icon-cloud-a:before {
	content: "\2839"
}

.icon-compose:before {
	content: "\283c"
}

.icon-compose-a:before {
	content: "\283b"
}

.icon-connection:before {
	content: "\283d"
}

.icon-contact:before {
	content: "\283f"
}

.icon-contact-a:before {
	content: "\283e"
}

.icon-doc:before {
	content: "\2842"
}

.icon-doc-flash:before {
	content: "\2840"
}

.icon-doc-text:before {
	content: "\2841"
}

.icon-drag:before {
	content: "\2843"
}

.icon-drawer:before {
	content: "\2844"
}

.icon-dropdown:before {
	content: "\2845"
}

.icon-earth:before {
	content: "\2846"
}

.icon-email:before {
	content: "\2848"
}

.icon-email-a:before {
	content: "\2847"
}

.icon-eye:before {
	content: "\2849"
}

.icon-flag:before {
	content: "\284b"
}

.icon-flag-a:before {
	content: "\284a"
}

.icon-flower:before {
	content: "\284c"
}

.icon-folder:before {
	content: "\284e"
}

.icon-folder-a:before {
	content: "\284d"
}

.icon-forward:before {
	content: "\284f"
}

.icon-gear:before {
	content: "\2851"
}

.icon-gear-a:before {
	content: "\2850"
}

.icon-grid:before {
	content: "\2852"
}

.icon-heart:before {
	content: "\2854"
}

.icon-heart-a:before {
	content: "\2853"
}

.icon-help:before {
	content: "\2856"
}

.icon-help-a:before {
	content: "\2855"
}

.icon-home:before {
	content: "\2858"
}

.icon-home-a:before {
	content: "\2857"
}

.icon-image:before {
	content: "\2859"
}

.icon-images:before {
	content: "\285a"
}

.icon-lightbulb-a:before {
	content: "\285d"
}

.icon-lightbulb:before {
	content: "\285e"
}

.icon-info:before {
	content: "\285c"
}

.icon-info-a:before {
	content: "\285b"
}

.icon-link:before {
	content: "\285f"
}

.icon-load-a:before {
	content: "\2860"
}

.icon-load-b:before {
	content: "\2861"
}

.icon-load-c:before {
	content: "\2862"
}

.icon-locate:before {
	content: "\2863"
}

.icon-location:before {
	content: "\2864"
}

.icon-lock:before {
	content: "\2865"
}

.icon-locked:before {
	content: "\2866"
}

.icon-login:before {
	content: "\2867"
}

.icon-logout:before {
	content: "\2868"
}

.icon-loop:before {
	content: "\286a"
}

.icon-loop-strong:before {
	content: "\2869"
}

.icon-medal:before {
	content: "\286b"
}

.icon-mic:before {
	content: "\286d"
}

.icon-mic-a:before {
	content: "\286c"
}

.icon-minus:before {
	content: "\2870"
}

.icon-minus-a:before {
	content: "\286e"
}

.icon-minus-b:before {
	content: "\286f"
}

.icon-more:before {
	content: "\2871"
}

.icon-navicon:before {
	content: "\2872"
}

.icon-navigate-a:before {
	content: "\2873"
}

.icon-paperclip:before {
	content: "\2874"
}

.icon-person:before {
	content: "\2876"
}

.icon-person-add:before {
	content: "\2875"
}

.icon-persons:before {
	content: "\2877"
}

.icon-pin:before {
	content: "\2878"
}

.icon-plus:before {
	content: "\287b"
}

.icon-plus-a:before {
	content: "\2879"
}

.icon-plus-b:before {
	content: "\287a"
}

.icon-power:before {
	content: "\287c"
}

.icon-pricetag:before {
	content: "\287e"
}

.icon-pricetag-a:before {
	content: "\287d"
}

.icon-pricetags:before {
	content: "\2880"
}

.icon-pricetags-a:before {
	content: "\287f"
}

.icon-printer:before {
	content: "\2881"
}

.icon-pulse:before {
	content: "\2882"
}

.icon-record:before {
	content: "\2883"
}

.icon-refresh:before {
	content: "\2884"
}

.icon-remove:before {
	content: "\2885"
}

.icon-reply:before {
	content: "\2887"
}

.icon-reply-all:before {
	content: "\2886"
}

.icon-sad:before {
	content: "\2888"
}

.icon-search:before {
	content: "\288a"
}

.icon-search-a:before {
	content: "\2889"
}

.icon-share:before {
	content: "\288b"
}

.icon-shop-flash:before {
	content: "\288c"
}

.icon-star:before {
	content: "\288f"
}

.icon-star-a:before {
	content: "\288d"
}

.icon-star-half:before {
	content: "\288e"
}

.icon-stop:before {
	content: "\2890"
}

.icon-storage:before {
	content: "\2891"
}

.icon-telephone:before {
	content: "\2893"
}

.icon-telephone-a:before {
	content: "\2892"
}

.icon-tip:before {
	content: "\2894"
}

.icon-trash:before {
	content: "\2896"
}

.icon-trash-a:before {
	content: "\2895"
}

.icon-unlocked:before {
	content: "\2897"
}

.icon-user:before {
	content: "\2898"
}

.icon-volume-high:before {
	content: "\2899"
}

.icon-volume-low:before {
	content: "\289a"
}

.icon-wifi:before {
	content: "\289b"
}

.icon-success {
	color: #8AB660;
}

.icon-warning {
	color: #FEBF0F;
}


/* 栅格化 */

.wrap {
	margin-left: auto;
	margin-right: auto;
	width: 950px;
}

.wrap-lg {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

.col,
[class*=col] {
	float: left;
	margin-left: 10px;
}

[class*=col-lg] {
	margin-left: 10px;
}

.col-1 {
	width: 50px;
}

.col-lg-1 {
	width: 65px;
}

.offset-1 {
	margin-left: 60px;
}

.offset-lg-1 {
	margin-left: 75px;
}

.col-2 {
	width: 110px;
}

.col-lg-2 {
	width: 140px;
}

.offset-2 {
	margin-left: 120px;
}

.offset-lg-2 {
	margin-left: 150px;
}

.col-3 {
	width: 170px;
}

.col-lg-3 {
	width: 215px;
}

.offset-3 {
	margin-left: 180px;
}

.offset-lg-3 {
	margin-left: 225px;
}

.col-4 {
	width: 230px;
}

.col-lg-4 {
	width: 290px;
}

.offset-4 {
	margin-left: 240px;
}

.offset-lg-4 {
	margin-left: 300px;
}

.col-5 {
	width: 290px;
}

.col-lg-5 {
	width: 365px;
}

.offset-5 {
	margin-left: 300px;
}

.offset-lg-5 {
	margin-left: 375px;
}

.col-6 {
	width: 350px;
}

.col-lg-6 {
	width: 440px;
}

.offset-6 {
	margin-left: 360px;
}

.offset-lg-6 {
	margin-left: 450px;
}

.col-7 {
	width: 410px;
}

.col-lg-7 {
	width: 515px;
}

.offset-7 {
	margin-left: 420px;
}

.offset-lg-7 {
	margin-left: 525px;
}

.col-8 {
	width: 470px;
}

.col-lg-8 {
	width: 590px;
}

.offset-8 {
	margin-left: 480px;
}

.offset-lg-8 {
	margin-left: 600px;
}

.col-9 {
	width: 530px;
}

.col-lg-9 {
	width: 665px;
}

.offset-9 {
	margin-left: 540px;
}

.offset-lg-9 {
	margin-left: 675px;
}

.col-10 {
	width: 590px;
}

.col-lg-10 {
	width: 740px;
}

.offset-10 {
	margin-left: 600px;
}

.offset-lg-10 {
	margin-left: 750px;
}

.col-11 {
	width: 650px;
}

.col-lg-11 {
	width: 815px;
}

.offset-11 {
	margin-left: 660px;
}

.offset-lg-11 {
	margin-left: 825px;
}

.col-12 {
	width: 710px;
}

.col-lg-12 {
	width: 890px;
}

.offset-12 {
	margin-left: 720px;
}

.offset-lg-12 {
	margin-left: 900px;
}

.col-13 {
	width: 770px;
}

.col-lg-13 {
	width: 965px;
}

.offset-13 {
	margin-left: 780px;
}

.offset-lg-13 {
	margin-left: 975px;
}

.col-14 {
	width: 830px;
}

.col-lg-14 {
	width: 1040px;
}

.offset-14 {
	margin-left: 840px;
}

.offset-lg-14 {
	margin-left: 1050px;
}

.col-15 {
	width: 890px;
}

.col-lg-15 {
	width: 1115px;
}

.offset-15 {
	margin-left: 900px;
}

.offset-lg-15 {
	margin-left: 1125px;
}

.col-16 {
	width: 950px;
}

.col-lg-16 {
	width: 1190px;
}

.row:after {
	content: "\0020";
	display: block;
	visibility: hidden;
	clear: both;
}

.row [class*="col"]:first-child {
	margin-left: 0;
}

.row.wrap {
	width: 960px;
}

.row.wrap-lg {
	width: 1200px;
}

.input-row {
	margin-bottom: 10px;
}


/* 按钮尺寸 */

.input-row input.col-1 {
	width: 44px;
}

.input-row input.col-lg-1 {
	width: 59px;
}

.input-row input.col-2 {
	width: 104px;
}

.input-row input.col-lg-2 {
	width: 134px;
}

.input-row input.col-3 {
	width: 164px;
}

.input-row input.col-lg-3 {
	width: 209px;
}

.input-row input.col-4 {
	width: 224px;
}

.input-row input.col-lg-4 {
	width: 284px;
}

.input-row input.col-5 {
	width: 284px;
}

.input-row input.col-lg-5 {
	width: 359px;
}

.input-row input.col-6 {
	width: 344px;
}

.input-row input.col-lg-6 {
	width: 434px;
}

.input-row input.col-7 {
	width: 404px;
}

.input-row input.col-lg-7 {
	width: 509px;
}

.input-row input.col-8 {
	width: 464px;
}

.input-row input.col-lg-8 {
	width: 584px;
}

.input-row input.col-9 {
	width: 524px;
}

.input-row input.col-lg-9 {
	width: 659px;
}

.input-row input.col-10 {
	width: 584px;
}

.input-row input.col-lg-10 {
	width: 734px;
}

.input-row input.col-11 {
	width: 644px;
}

.input-row input.col-lg-11 {
	width: 809px;
}

.input-row input.col-12 {
	width: 704px;
}

.input-row input.col-lg-12 {
	width: 884px;
}

.input-row input.col-13 {
	width: 764px;
}

.input-row input.col-lg-13 {
	width: 959.0px;
}

.input-row input.col-14 {
	width: 824px;
}

.input-row input.col-lg-14 {
	width: 1034px;
}

.input-row input.col-15 {
	width: 884px;
}

.input-row input.col-lg-15 {
	width: 1109px;
}

.input-row input.col-16 {
	width: 944px;
}

.input-row input.col-lg-16 {
	width: 1184px;
}


/* 表格部分样式 */

.table {
	width: 100%;
	max-width: 100%;
}

.table>thead>tr,
.table>tbody>tr,
.table>tfoot>tr {
	vertical-align: top;
	border-top: 1px solid #dddddd;
}

.table>thead>tr>th,
.table>thead>tr>td,
.table>tbody>tr>th,
.table>tbody>tr>td,
.table>tfoot>tr>th,
.table>tfoot>tr>td {
	padding: 5px 2px;
	line-height: 1.5;
}

.table>thead>tr.selected,
.table>tbody>tr.selected,
.table>tfoot>tr.selected {
	background-color: #fffcf4;
}

.table>thead>tr.active,
.table>tbody>tr.active,
.table>tfoot>tr.active {
	background-color: whitesmoke;
}

.table>thead>tr.active:hover,
.table>tbody>tr.active:hover,
.table>tfoot>tr.active:hover {
	background-color: #ededed;
}

.table>thead>tr.success,
.table>tbody>tr.success,
.table>tfoot>tr.success {
	background-color: #f1f6ec;
}

.table>thead>tr.success:hover,
.table>tbody>tr.success:hover,
.table>tfoot>tr.success:hover {
	background-color: #e9f1e1;
}

.table>thead>tr.info,
.table>tbody>tr.info,
.table>tfoot>tr.info {
	background-color: #e7f6fa;
}

.table>thead>tr.info:hover,
.table>tbody>tr.info:hover,
.table>tfoot>tr.info:hover {
	background-color: #daf1f8;
}

.table>thead>tr.warning,
.table>tbody>tr.warning,
.table>tfoot>tr.warning {
	background-color: #fdf5e9;
}

.table>thead>tr.warning:hover,
.table>tbody>tr.warning:hover,
.table>tfoot>tr.warning:hover {
	background-color: #fceedb;
}

.table>thead>tr.error,
.table>tbody>tr.error,
.table>tfoot>tr.error {
	background-color: #fbf0ef;
}

.table>thead>tr.error:hover,
.table>tbody>tr.error:hover,
.table>tfoot>tr.error:hover {
	background-color: #f9e4e2;
}

.table>thead>tr {
	vertical-align: bottom;
	border-bottom: 2px solid #dddddd;
}

.table>colgroup+thead>tr:first-child,
.table>thead:first-child>tr:first-child {
	border-top: 0;
}

.table-striped>tbody> :nth-child(odd) {
	background-color: #f9f9f9;
}

.table-bordered {
	border: 1px solid #dddddd;
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th {
	border: 1px solid #dddddd;
}

.table-bordered>thead {
	background-color: #f3f3f3;
}

.table-hover>tbody>tr:hover {
	background-color: whitesmoke;
}

table col[class*="col-"] {
	position: static;
	float: none;
	display: table-column;
}

table td[class*="col-"],
table th[class*="col-"] {
	position: static;
	float: none;
	display: table-cell;
}


/* 按钮样式 */

button {
	margin: 0;
	white-space: nowrap;
	cursor: pointer;
}

.btn {
	border: 0 none;
	background-color: transparent;
	padding: 0;
	outline: none;
}

.btn span {
	display: block;
	height: 100%;
	font-size: inherit;
}

.btn>span {
	padding-left: 1em;
	border: 1px solid #cccccc;
	background-color: white;
	border-radius: 3px;
}

.btn>span>span {
	padding-right: 1em;
	line-height: 34px;
}

.btn[disabled],
.btn.disabled {
	cursor: default;
	pointer-events: none;
	color: #ccc;
	border-color: #ccc;
}

.btn[disabled]>span,
.btn.disabled>span {
	opacity: 0.65;
	filter: alpha(opacity=65);
}

.btn:hover>span,
.btn:focus>span {
	background-color: #f2f2f2;
}

a.btn {
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
}

 ::-webkit-file-upload-button {
	margin-left: 2px;
	padding: 0 1em;
	border: 1px solid #cccccc;
	background-color: #F9F9F9;
	line-height: 20px;
	border-radius: 4px;
	outline: 0;
}

 ::-webkit-file-upload-button:hover {
	background-color: #e6e6e6;
}

.btn-flat {
	color: #333333;
}

.btn-flat:hover>span,
.btn-flat:focus>span {
	border-color: #c4c4c4;
	background-color: #fafafa;
	color: #262626;
}

.btn-plane>span,
.btn-plane:hover>span,
.btn-plane:focus>span {
	background-color: #EEEEEE;
}

a.btn-simple {
	color: #333333;
}

.btn-primary>span {
	border-color: #3071a9;
	background-color: #428bca;
	color: white;
}

.btn-primary:hover>span,
.btn-primary:focus>span {
	background-color: #357ebd;
}

.btn-success>span {
	border-color: #719c47;
	background-color: #8AB660;
	color: white;
}

.btn-success:hover>span,
.btn-success:focus>span {
	background-color: #7dad4f;
}

.btn-info>span {
	border-color: #31b0d5;
	background-color: #5bc0de;
	color: white;
}

.btn-info:hover>span,
.btn-info:focus>span {
	background-color: #46b8da;
}

.btn-warning>span {
	border-color: #ec971f;
	background-color: #f0ad4e;
	color: white;
}

.btn-warning:hover>span,
.btn-warning:focus>span {
	background-color: #eea236;
}

.btn-danger>span {
	border-color: #c9302c;
	background-color: #d9534f;
	color: white;
}

.btn-danger:hover>span,
.btn-danger:focus>span {
	background-color: #d43f3a;
}

.btn-import>span,
.btn-major>span,
.btn-caution>span {
	padding-left: 1.5em;
	border-color: transparent;
	color: white;
}

.btn-import>span>span,
.btn-major>span>span,
.btn-caution>span>span {
	padding-right: 1.5em;
}

a.btn-import>span,
a.btn-major>span,
a.btn-caution>span {
	color: white;
}

a.btn-import:hover>span,
a.btn-import:focus>span,
a.btn-major:hover>span,
a.btn-major:focus>span,
a.btn-caution:hover>span,
a.btn-caution:focus>span {
	color: white;
}

.btn-link>span {
	border: 0 none;
	background-color: transparent;
	color: #0563C3;
}

.btn-link>span>span {
	text-decoration: underline;
}

.btn-link:hover>span,
.btn-link:focus>span {
	background-color: transparent;
	color: #033d78;
}

.btn-rounded {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}

.btn-rounded>span {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}

.btn-sm,
.input-comb-sm>.input-comb-btn {
	font-size: 12px;
}

.btn-sm>span,
.input-comb-sm>.input-comb-btn>span {
	padding-left: .8em;
}

.btn-sm>span>span,
.input-comb-sm>.input-comb-btn>span>span {
	padding-right: .8em;
	line-height: 1.8;
}

.btn-lg,
.input-comb-lg>.input-comb-btn {
	font-size: 133.33333%;
}

.btn-lg>span,
.input-comb-lg>.input-comb-btn>span {
	padding-left: 1.5em;
}

.btn-lg>span>span,
.input-comb-lg>.input-comb-btn>span>span {
	padding-right: 1.5em;
	height: 46px;
	line-height: 46px;
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-block span {
	display: block;
}

.btn-block>span {
	padding-left: 0;
}

.btn-block>span>span {
	padding-right: 0;
	width: 100%;
}

a.btn-block {
	text-align: center;
}

.btn-collapse,
.btn-expand {
	display: inline-block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	border: 1px solid #A9A9A9;
	vertical-align: middle;
	text-align: center;
	font: 14px/18px simsun, serif;
	color: #8B8B8B;
}


/*new*/

.btn .icon-arrow-down-a,
.btn .icon-arrow-up-a {
	display: none;
}

.btn.is-asc .icon-arrow-down-a {
	display: none;
}

.btn.is-asc .icon-arrow-up-a {
	display: inline-block;
}

.btn.is-desc .icon-arrow-down-a {
	display: inline-block;
}

.btn.is-desc .icon-arrow-up-a {
	display: none;
}

.btn-tab {
	color: #666;
}

.btn-tab span {
	width: 86px;
	padding-left: 0;
	line-height: 35px;
	background: #e8e8e8;
	border: none;
	border-radius: 5px 5px 0 0;
	text-align: center;
}

.btn-tab span span {
	padding-right: 0;
}

.btn-simple>span {
	background-image: -webkit-linear-gradient(#fefefe, #f3f3f3);
	background-image: -moz-linear-gradient(#fefefe, #f3f3f3);
	background-image: linear-gradient(#fefefe, #f3f3f3);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true, gradientType=0, startColorstr='#FFFEFEFE', endColorstr='#FFF3F3F3') \9;
}

.btn-simple:hover>span,
.btn-simple:focus>span {
	background-image: -webkit-linear-gradient(#f3f3f3, #e9e9e9);
	background-image: -moz-linear-gradient(#f3f3f3, #e9e9e9);
	background-image: linear-gradient(#f3f3f3, #e9e9e9);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true, gradientType=0, startColorstr='#FFF3F3F3', endColorstr='#FFE9E9E9') \9;
}

 ::-webkit-file-upload-button {
	background-image: -webkit-linear-gradient(#fefefe, #f3f3f3);
	background-image: -moz-linear-gradient(#fefefe, #f3f3f3);
	background-image: linear-gradient(#fefefe, #f3f3f3);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true, gradientType=0, startColorstr='#FFFEFEFE', endColorstr='#FFF3F3F3') \9;
}

 ::-webkit-file-upload-button:hover,
 ::-webkit-file-upload-button:focus {
	background-image: -webkit-linear-gradient(#f3f3f3, #e9e9e9);
	background-image: -moz-linear-gradient(#f3f3f3, #e9e9e9);
	background-image: linear-gradient(#f3f3f3, #e9e9e9);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true, gradientType=0, startColorstr='#FFF3F3F3', endColorstr='#FFE9E9E9') \9;
}

.btn-import>span {
	background-image: -webkit-linear-gradient(#e2232c, #ca1823);
	background-image: -moz-linear-gradient(#e2232c, #ca1823);
	background-image: linear-gradient(#e2232c, #ca1823);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true, gradientType=0, startColorstr='#FFE2232C', endColorstr='#FFCA1823') \9;
}

.btn-import:hover>span,
.btn-import:focus>span {
	background-image: -webkit-linear-gradient(#ff242f, #da1922);
	background-image: -moz-linear-gradient(#ff242f, #da1922);
	background-image: linear-gradient(#ff242f, #da1922);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true, gradientType=0, startColorstr='#FFFF242F', endColorstr='#FFDA1922') \9;
}

.btn-major>span {
	background-image: -webkit-linear-gradient(#fc5910, #fc4f07);
	background-image: -moz-linear-gradient(#fc5910, #fc4f07);
	background-image: linear-gradient(#fc5910, #fc4f07);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true, gradientType=0, startColorstr='#FFFC5910', endColorstr='#FFFC4F07') \9;
}

.btn-major:hover>span,
.btn-major:focus>span {
	background-image: -webkit-linear-gradient(#e8520e, #d84406);
	background-image: -moz-linear-gradient(#e8520e, #d84406);
	background-image: linear-gradient(#e8520e, #d84406);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true, gradientType=0, startColorstr='#FFE8520E', endColorstr='#FFD84406') \9;
}

.btn-caution>span {
	background-image: -webkit-linear-gradient(#f89416, #f49012);
	background-image: -moz-linear-gradient(#f89416, #f49012);
	background-image: linear-gradient(#f89416, #f49012);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true, gradientType=0, startColorstr='#FFF89416', endColorstr='#FFF49012') \9;
}

.btn-caution:hover>span,
.btn-caution:focus>span {
	background-image: -webkit-linear-gradient(#da7d0c, #cd750a);
	background-image: -moz-linear-gradient(#da7d0c, #cd750a);
	background-image: linear-gradient(#da7d0c, #cd750a);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true, gradientType=0, startColorstr='#FFDA7D0C', endColorstr='#FFCD750A') \9;
}

.btn-collapse,
.btn-expand {
	background-color: white;
}

.more-btn .icon,
.more-btn [class^=icon-]:before {
	display: inline-block !important;
}

.more-btn .unexpand-btn {
	display: none !important;
}

.more-btn.is-expand .unexpand-btn {
	display: inline-block !important;
}

.more-btn.is-expand .expand-btn {
	display: none !important;
}

.is-expand .more-btn .unexpand-btn {
	display: inline-block !important;
}

.is-expand .more-btn .expand-btn {
	display: none !important;
}


/*----- 基本表单元素 ------*/

input,
select,
textarea {
	border: 1px solid #cccccc;
	background-color: white;
	border-radius: 3px;
}

input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
	border-color: darkgray;
}

input[readonly],
input[disabled],
select[readonly],
select[disabled],
textarea[readonly],
textarea[disabled] {
	background-color: #eeeeee;
	border-color: #d4d4d4;
}

input,
select,
textarea,
.input-comb>.input-comb-addon {
	line-height: 30px;
}

input,
select,
.input-comb>.input-comb-addon {
	height: 30px;
}

input[type=search],
select {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
}

input[type=checkbox],
input[type=radio],
input[type=range],
fieldset,
legend {
	border: 0 none;
}

input[type=search] {
	-webkit-appearance: none;
	outline-offset: -2px;
}

input[type=checkbox],
input[type=radio] {
	margin: 0;
	margin-top: 1px \9;
	height: 13px;
	line-height: normal;
}

input[type="file"] {
	display: block;
	outline-offset: -2px;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator,
input[type=month]::-webkit-inner-spin-button,
input[type=month]::-webkit-calendar-picker-indicator,
input[type=week]::-webkit-inner-spin-button,
input[type=week]::-webkit-calendar-picker-indicator,
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-calendar-picker-indicator,
input[type=datetime-local]::-webkit-inner-spin-button,
input[type=datetime-local]::-webkit-calendar-picker-indicator {
	-webkit-appearance: none;
	display: none;
}

input[type=date]::-webkit-datetime-edit-text:nth-child(2),
input[type=date]::-webkit-datetime-edit-text:nth-child(4),
input[type=datetime-local]::-webkit-datetime-edit-text:nth-child(2),
input[type=datetime-local]::-webkit-datetime-edit-text:nth-child(4) {
	color: #FFFFFF;
	display: inline-block;
	width: 5px;
	margin: 0 2px;
	height: 0;
	border-top: 1px solid #333333;
	vertical-align: middle;
}

select[multiple],
select[size] {
	height: auto;
}

fieldset {
	padding: 0;
	margin: 0;
	min-width: 0;
}

@-moz-document url-prefix() {
	fieldset {
		display: table-cell;
	}
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	font-size: 18px;
	line-height: inherit;
	border-bottom: 1px solid #eeeeee;
}

label {
	display: inline-block;
	display: inline\0;
	max-width: 100%;
}


/*------ 基本表单元素辅助类 ------*/

.placeholder {
	position: absolute;
	left: 4px;
	top: 6px;
	z-index: 2;
}

.input-block {
	display: block;
	width: 98% \9;
	width: calc(100% - 2 * (2px + 1px));
}

.input-lg,
.input-comb-lg input,
.input-comb-lg>.input-comb-addon {
	height: 42px;
	line-height: 42px;
	font-size: 150%;
}

.input-sm,
.input-comb-sm input,
.input-comb-sm>.input-comb-addon {
	height: 18px;
	line-height: 18px;
}

.input-xxst {
	width: 30px;
}

.input-xst {
	width: 59px;
}

.input-st {
	width: 134px;
}

.input-me {
	width: 209px;
}

.input-ln {
	width: 284px;
}

.input-xln {
	width: 359px;
}

.input-xxln {
	width: 434px;
}

.input-comb {
	letter-spacing: -4px;
}

.input-comb>[class*=col-] {
	float: none;
	padding-left: 0;
	padding-right: 0;
}

@media \0screen {
	.input-comb>input {
		margin-right: -1px;
	}
}

.input-comb>input+.input-comb-addon,
.input-comb>input+.input-comb-btn {
	margin-left: -1px;
}

.input-comb>.input-comb-addon,
.input-comb>.input-comb-btn {
	letter-spacing: 0;
	white-space: nowrap;
	vertical-align: middle;
}

.input-comb>.input-comb-addon+input,
.input-comb>.input-comb-btn+input {
	margin-left: -1px;
}

.input-comb>.input-comb-addon {
	display: inline-block;
	padding: 0 4px;
	min-width: 27px;
	border: 1px solid #cccccc;
	background-color: #eeeeee;
	text-align: center;
}

.input-comb>.input-comb-addon [class|=icon] {
	font-size: 20px;
}

.input-comb-lg>.input-comb-addon {
	padding: 0 6px;
	min-width: 35px;
}

.input-comb-lg [class|=icon] {
	font-size: 22px;
}

.input-comb-sm>.input-comb-addon {
	padding: 2px 3px;
	min-width: 20px;
}

.input-comb-sm [class|=icon] {
	font-size: 16px;
}

.radio,
.checkbox {
	display: block;
	min-height: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.radio label,
.checkbox label {
	cursor: pointer;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	margin-right: 5px;
	vertical-align: 0;
}

.radio-inline,
.checkbox-inline {
	display: inline-block;
	display: inline\0;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
}

.radio-inline+.radio-inline,
.checkbox-inline+.checkbox-inline {
	margin-left: 10px;
}


/*------ form表单相关 ------*/

.form-row {
	position: relative;
	min-height: 36px;
}

.form-row:after {
	content: "\0020";
	display: block;
	visibility: hidden;
	clear: both;
}

.form-row .verify-code {
	vertical-align: middle;
}

.form-row .inline {
	display: inline-block;
	vertical-align: middle;
}

.form-row .inline div {
	display: inline;
}

.form-row .auto-change-verify-handle {
	cursor: pointer;
}

.form-row-action {
	margin-top: 20px;
}

.form-row-last {
	margin-bottom: 0;
}

.form-label {
	float: left;
	width: 9em;
	min-height: 1px;
	text-align: right;
	line-height: 36px;
}

.form-label em {
	margin-right: 5px;
	color: #EF4521;
}

.form-act {
	display: block;
	margin-left: 10em;
	line-height: 34px;
}

.form-act label {
	margin-left: 5px;
	margin-right: 15px;
	vertical-align: middle;
}

.form-act select {
	margin-right: 10px;
}

.form-act button {
	margin-right: 20px;
}

.membercenter-box .form-act {
	display: inline-block;
	margin-left: 1em;
}

.form-act textarea,
.form-act-wide textarea,
.form-act-side textarea {
	display: block;
	width: 99%;
	-webkit-resize: vertical;
	-moz-resize: vertical;
	resize: vertical;
}

.has-figure {
	position: relative;
}

.has-figure .input-block {
	padding-right: 36px;
	width: 86% \9;
	width: calc(100% - 2 * 1px - 2px - 36px);
}

.has-figure .input-lg,
.has-figure .input-comb-lg input,
.input-comb-lg .has-figure input,
.has-figure .input-comb-lg>.input-comb-addon {
	padding-right: 48px;
	width: 83% \9;
	width: calc(100% - 2 * 1px - 2px - 48px);
}

.has-figure .input-sm,
.has-figure .input-comb-sm input,
.input-comb-sm .has-figure input,
.has-figure .input-comb-sm>.input-comb-addon {
	padding-right: 24px;
	width: 89% \9;
	width: calc(100% - 2 * 1px - 2px - 24px);
}

.has-figure .input-figure {
	position: absolute;
	top: 0;
	right: 0;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 18px;
	color: #999999;
}

.has-figure .input-figure-lg {
	width: 48px;
	height: 48px;
	line-height: 48px;
}

.has-figure .input-figure-sm {
	width: 24px;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
}

.has-error .caution {
	display: inline-block;
	vertical-align: middle;
	background-color: #fbf0ef;
	border: 1px solid #eeb5b0;
	color: #D23F33;
	line-height: 30px;
	padding: 2px 10px;
}

.has-error .caution [class|=icon] {
	font-size: 150%;
	line-height: 1;
	vertical-align: middle;
}

.has-error .caution[class|=icon]:before {
	font-size: 133.33333%;
	margin-right: 5px;
	vertical-align: middle;
}

.has-error input,
.has-error textarea,
.has-error select {
	border-color: #f2c9c5;
	background-color: #fefcfc;
}

.has-error .input .icon,
.has-error .input [class^=icon-]:before,
.has-error .input-figure {
	color: #d54b40;
}

.has-success .caution {
	display: inline-block;
	vertical-align: middle;
	background-color: #f1f6ec;
	border: 1px solid #bdd6a6;
	color: #8AB660;
	line-height: 30px;
	padding: 2px 10px;
}

.has-success .caution [class|=icon] {
	font-size: 150%;
	line-height: 1;
	vertical-align: middle;
}

.has-success .caution:before {
	font-size: 116.66667%;
	margin-right: 5px;
}

.has-success .input-figure {
	color: #8AB660;
}

.caution-input {
	border-color: #E0C6CD;
	background-color: #FFF8F6;
}


/*加在form标签上的class，控制整个表单样式*/


/*默认：form横向、error纵向*/


/*form纵向*/

.form-vertical .form-label {
	text-align: left;
	float: none;
	width: auto;
}

.form-vertical .form-act,
.form-vertical .has-error .caution {
	margin-left: 0;
}


/*error横向*/

.form-tip-horizontal .form-act {
	float: left;
	margin-left: 1em;
}

.form-tip-horizontal .has-error .caution {
	margin-left: 10px;
}


/*控制form表单中input框不同尺寸*/

.help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 1px;
	line-height: 1.5;
	color: #959595;
}


/* 排版 */

.h1 {
	font-size: 36px;
}

.h2 {
	font-size: 30px;
}

.h3 {
	font-size: 24px;
}

.h4 {
	font-size: 18px;
}

.h5 {
	font-size: 14px;
}

.h6 {
	font-size: 12px;
}

.lead {
	font-weight: 400;
	font-size: 133.33%;
	margin-bottom: 12px;
}

.mark {
	background-color: #fdf5e9;
	padding: .2em;
}

.small {
	font-size: 85%;
	color: #333333;
}


/* 文字对齐 */

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.text-nowrap {
	white-space: nowrap;
}

blockquote {
	margin: 10px 0 10px 10px;
	background-color: #eeeeee;
	padding: 5px 10px;
	border-left: 3px solid #5bc0de;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}


/* 列表类 */

.list-inline>li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

.dl-horizontal dt {
	float: left;
	clear: left;
	padding-right: 5px;
	width: 10em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
	font-weight: 700;
}

.dl-horizontal dd {
	margin-left: 10em;
	padding-left: 5px;
}

.dl-horizontal dd:after {
	content: "\0020";
	display: block;
	visibility: hidden;
	clear: both;
}

code {
	padding-left: 5px;
	padding-right: 5px;
	background-color: #eeeeee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

kbd {
	padding: 1px 4px;
	font-size: 90%;
	color: #FFFFFF;
	background-color: #444444;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

kbd kbd {
	padding: 0;
	font-size: 100%;
}

pre {
	padding: 5px 10px;
	color: #FFFFFF;
	background-color: #444444;
	margin-bottom: 9px;
}


/* 文本颜色 */

.text-muted {
	color: gray;
}

.text-success {
	color: #8AB660;
}

.text-warning {
	color: #f0ad4e;
}

.text-info {
	color: #5bc0de;
}

.text-danger {
	color: #d9534f;
}


/* 背景色 */

.bg-yellow {
	background-color: #FFFDF4;
}

.bg-alert {
	background-color: #fffcf4;
}

.bg-success {
	background-color: #f1f6ec;
}

.bg-warning {
	background-color: #fdf5e9;
}

.bg-info {
	background-color: #e7f6fa;
}

.bg-danger {
	background-color: #fdf7f7;
}

.bg-error {
	background-color: #fbf0ef;
}

.bg-selected {
	background-color: #FFFFCD;
}


/* 关闭和三角符号 */

.close {
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #BBBBBB;
	text-shadow: 0 1px 0 white;
}

.close:hover,
.close:focus {
	color: #999999;
	text-decoration: none;
	cursor: pointer;
}

button.close {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-color: #333333;
	border-top: 5px solid;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}


/* 浮动 */

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}


/* 清除浮动 */

.clear {
	clear: both;
}

.clearfix:after {
	content: "\0020";
	display: block;
	visibility: hidden;
	clear: both;
}


/* 显示/隐藏 */

.show {
	display: block !important;
}

.hide {
	display: none !important;
}

.visible {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}

.text-hide {
	font: 0/0 serif;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
}


/* 路径导航 */

.breadcrumb {
	padding: 8px 10px;
	margin-bottom: 9px;
}

.breadcrumb>li {
	display: inline-block;
}

.breadcrumb>li+li:before {
	content: "> ";
	padding: 0 5px;
	color: #cccccc;
}

.breadcrumb>.active {
	color: #666666;
}


/* 标签的样式 */

.label {
	display: inline;
	padding: .2em .5em .3em;
	background-color: #cccccc;
	font-size: 100%;
	line-height: 1;
	color: white;
	text-align: center;
	white-space: nowrap;
}

.btn .label {
	position: relative;
	top: -1px;
}

.label-disabled {
	background-color: darkgray;
}

.label-primary {
	background-color: #428bca;
}

.label-success {
	background-color: #8AB660;
}

.label-info {
	background-color: #5bc0de;
}

.label-warning {
	background-color: #f0ad4e;
}

.label-danger {
	background-color: #d9534f;
}

a.label:hover,
a.label:focus {
	color: white;
	text-decoration: none;
}


/* 数字指示样式 */

.point {
	display: inline-block;
	min-width: 16px;
	padding: 6px 4px;
	font-size: 11px;
	color: white;
	line-height: 1;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
	background-color: #d9534f;
	border-radius: 12px;
}

.btn .point {
	position: relative;
	top: -1px;
}

.point-sm {
	min-width: 14px;
	padding: 4px 3px;
}

.point-disabled {
	color: #fcfcfc;
	background-color: darkgray;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

a.point:hover,
a.point:focus {
	color: white;
	text-decoration: none;
	cursor: pointer;
}


/* 各种警告框样式 */

.alert {
	background-color: #fffcf4;
	border: 1px solid #ffe59d;
	color: #FEBF0F;
	line-height: 30px;
	padding: 2px 10px;
}

.alert [class|=icon] {
	font-size: 150%;
	line-height: 1;
	vertical-align: middle;
}

.info {
	background-color: #e7f6fa;
	border: 1px solid #b0e1ef;
	color: #5bc0de;
	line-height: 30px;
	padding: 2px 10px;
}

.info [class|=icon] {
	font-size: 150%;
	line-height: 1;
	vertical-align: middle;
}

.warning {
	background-color: #fdf5e9;
	border: 1px solid #f8d9ac;
	color: #f0ad4e;
	line-height: 30px;
	padding: 2px 10px;
}

.warning [class|=icon] {
	font-size: 150%;
	line-height: 1;
	vertical-align: middle;
}

.danger {
	background-color: #fdf7f7;
	border: 1px solid #eba5a3;
	color: #d9534f;
	line-height: 30px;
	padding: 2px 10px;
}

.danger [class|=icon] {
	font-size: 150%;
	line-height: 1;
	vertical-align: middle;
}

.success {
	background-color: #f1f6ec;
	border: 1px solid #bdd6a6;
	color: #8AB660;
	line-height: 30px;
	padding: 2px 10px;
}

.success [class|=icon] {
	font-size: 150%;
	line-height: 1;
	vertical-align: middle;
}

.error {
	background-color: #fbf0ef;
	border: 1px solid #eeb5b0;
	color: #D23F33;
	line-height: 30px;
	padding: 2px 10px;
}

.error [class|=icon] {
	font-size: 150%;
	line-height: 1;
	vertical-align: middle;
}


/* 分页 */

.pager {
	margin: 10px 0;
	text-align: right;
	line-height: 1.83333;
	font-size: 100%;
	letter-spacing: -4px;
}

.pager>.flip {
	display: inline-block;
	background-color: white;
	border: 1px solid #dddddd;
	color: #e22335;
	padding: 1px 6px;
	margin-left: 5px;
	width: auto;
	min-width: 11px;
	vertical-align: middle;
	text-align: center;
	letter-spacing: 0;
}

.pager>.disabled {
	background-color: #f2f2f2;
	border-color: #eaeaea;
	color: #cccccc;
	cursor: not-allowed;
}

.pager>.prev,
.pager>.next {
	font-size: 133.33333%;
	font-weight: bold;
	line-height: 1.25;
	padding-bottom: 2px;
}

.pager>a.flip:hover,
.pager>.active {
	background-color: #e22335;
	border-color: #e22335;
	color: white;
}

.pager>.active {
	font-weight: bold;
}

.pager>.ellipsis {
	margin-left: 5px;
	letter-spacing: 0;
}

.pager-sm {
	text-align: right;
	line-height: 1.5;
}

.pager-sm>.flip {
	padding-left: 4px;
	padding-right: 4px;
	margin-left: 3px;
	min-width: 12px;
}

.pager-sm .prev,
.pager-sm .next {
	line-height: 1.0625;
}

.pager-sm>.ellipsis {
	margin-left: 2px;
}